<a href="https://colab.research.google.com/github/ayalaman/Financial/blob/master/TAB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [62]:
from sympy import Symbol, symbols, factor, expand, pprint, simplify

t = Symbol('t')
n = Symbol('n')
k = Symbol('k')

k1 = .107001528412017
n1= 10
t1 = .26

VPAnualidad = (1-(1+k1)**-n1)/k1

TAB1 = 1/(1-(t/n)*(1/k - (1/(k*(1+k)**n))))

TAB2 = n/(n-(VPAnualidad*(1+k)**.5)*t)-1

TAB3 = n/(n-(((1-(1+k)**-n)/k)*(1+k)**.5)*t)-1

#pprint(simplify(TAB3))

TAB4 = 1/(1-(t/n)*VPAnualidad)


##pprint(simplify(TAB1))
##AB = PVCF(n/(n-((PV(Dr,n,-1)(1+Dr)^0.5)T))-1) 
##=(n/(n-((PV(k,n,-1)*(1+k)^0.5)*t))-1)

print(VPAnualidad)
print(TAB1.subs({k:.107001528412017, n:10, t:.26}))

##pprint(simplify(TAB2))

print(TAB2.subs({k:.107001528412017, n:10, t:.26}))

print(TAB3.subs({k:.107001528412017, n:10, t:.26}))

print(TAB4.subs({k:.107001528412017, n:10, t:.26}))

5.96401745642701
1.18352222791052
0.194956897293624
0.194956897293624
1.18352222791052